body {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  background-color: #292f36;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.quiz-container {
  background-color: #d64933;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  width: 500px;
  text-align: center;
  color: white;
}

#question-container {
  margin-bottom: 20px;
}

#options-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

button {
  padding: 10px;
  background-color: #3891a6;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #2d82b7;
}

#result-container {
  margin-top: 20px;
  font-weight: bold;
}
